<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with *USERNAME*</title>
    <link rel="stylesheet" href="/chat.css">
</head>

<body>
    <div class="container">
        <div class="menu">
            <div class="logo">
                <img src="/img/image 3.png" alt="" style="width: 148px; height:118px">
            </div>
            <div class="menu-items">
                <a href="#" class="menu__item">
                    <img src="/img/icon.png" alt="">
                    <span>Chats</span>
                </a>
                <a href="#" class="menu__item">
                    <img src="/img/iconfriends.png" alt="">
                    <span>Friends</span>
                </a>
                <a href="#" class="menu__item">
                    <img src="/img/iconfavourite.png" alt="">
                    <span>Favourite</span>
                </a>
                <a href="#" class="menu__item">
                    <img src="/img/iconsettings.png" alt="">
                    <span>Settings</span>
                </a>
                <a href="#" class="menu__item last__item">
                    <img src="/img/iconprofile.png" alt="">
                    <span>Profile</span>
                </a>
            </div>
        </div>
        <div class="wrapper-messenger">
            <h1>Chat with: </h1>
            <div class="messenger">
                <div class="messages">
                    <div class="message">
                        <div class="userMessages">
                            <div class="wrapper-message__host">
                                <span>asdadasds</span>
                            </div>
                            <div class="wrapper-message__host">
                                <span>This cafe is quiet simply so I fint it cool</span>
                            </div>
                        </div>
                        <div class="user__image">
                            <img src="img/userImage.png" alt="">
                        </div>
                    </div>
                    <div class="message message_opponent">
                        <div class="user__image">
                            <img src="img/userImage.png" alt="">
                        </div>
                        <div class="userMessages">
                            <div class="wrapper-message__host opponent">
                                <span>We must go there. I wanna eat as much as I live.</span>
                            </div>
                            <div class="wrapper-message__host opponent">
                                <span>This day will be legendary))</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inputMessages">
                    <input type="text" id="message" placeholder="Write your message there">
                    <input type="text" hidden name="user_id_from">
                    <button class="btnSubmit" onclick="sendMsg()" type="submit"><img src="img/sendMessage.png"
                            alt=""></button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>