<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/chat.css">
</head>

<body>
    <div class="container">
        <div class="menu">
            <div class="logo">
                <img src="/img/image 3.png" alt="" style="width: 148px; height:118px">
            </div>
            <div class="menu-items">
                <a href="#" class="menu__item">
                    <img src="/img/icon.png" alt="">
                    <span>Chats</span>
                </a>
                <a href="#" class="menu__item">
                    <img src="/img/iconfriends.png" alt="">
                    <span>Friends</span>
                </a>
                <a href="#" class="menu__item">
                    <img src="/img/iconfavourite.png" alt="">
                    <span>Favourite</span>
                </a>
                <a href="#" class="menu__item">
                    <img src="/img/iconsettings.png" alt="">
                    <span>Settings</span>
                </a>
                <a href="#" class="menu__item last__item">
                    <img src="/img/iconprofile.png" alt="">
                    <span>Profile</span>
                </a>
            </div>
        </div>
        <div class="users">
            <div class="images_wrapper">
                <img src="/img/userImage.png" class="users_profiles" alt="">
                <img src="/img/userImage.png" class="users_profiles" alt="">
                <img src="/img/userImage.png" class="users_profiles" alt="">
                <img src="/img/userImage.png" class="users_profiles" alt="">
                <img src="/img/userImage.png" class="users_profiles" alt="">
                <img src="/img/userImage.png" class="users_profiles" alt="">
            </div>
            <hr>
            <div class="wrapper-messenger">
                <div class="chats">
                    <h1>Chats</h1>
                    <div class="chats-items">
                        {{#each usersArray }}
                        <div class="chats__item">
                            <div class="user_image">
                                <img src="{{this.img_url}}" style="width: 80px; height:80px; border-radius: 15px">
                            </div>
                            <div class="message_info">
                                <p>{{ this.username }}</p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="messenger">
                    <div class="messages">
                        <div class="message">
                            <div class="userMessages">
                                <div class="wrapper-message__host">
                                    <span>That`s pretty cool. I would like to eat it. What do you think about it?</span>
                                </div>
                                <div class="wrapper-message__host">
                                    <span>This cafe is quiet simply so I fint it cool</span>
                                </div>
                            </div>
                            <div class="user__image">
                                <img src="img/userImage.png" alt="">
                            </div>
                        </div>
                        <div class="message message_opponent">
                            <div class="user__image">
                                <img src="img/userImage.png" alt="">
                            </div>
                            <div class="userMessages">
                                <div class="wrapper-message__host opponent">
                                    <span>We must go there. I wanna eat as much as I live.</span>
                                </div>
                                <div class="wrapper-message__host opponent">
                                    <span>This day will be legendary))</span>
                                </div>
                            </div>
                        </div>
                        <div class="message">
                            <div class="userMessages">
                                <div class="wrapper-message__host">
                                    <span>Alright bruh, we will go there..</span>
                                </div>
                            </div>
                            <div class="user__image">
                                <img src="img/userImage.png" alt="">
                            </div>
                        </div>
                        <div class="message message_opponent">
                            <div class="user__image">
                                <img src="img/userImage.png" alt="">
                            </div>
                            <div class="userMessages">
                                <div class="wrapper-message__host opponent">
                                    <span>See u :)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inputMessages">
                        <form action="/sendMessage" method="POST" style="display: flex;">
                            <input type="text" name="message" placeholder="Write your message there">
                            <input type="text" hidden name="user_id_from" value="{{this.currentUserId}}">
                            <button class="btnSubmit" type="submit"><img src="img/sendMessage.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>