<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/reg.css">
</head>

<body>
    <div class="wrapper">
        <div>
            <img src="/img/image 3.png" alt="" style="width: 340px; height:270px">
            <h1>Login</h1>
        </div>
        <div>
            <input type="text" id="nickname" placeholder="Your nickname" required> <br>
            <input type="text" id="user_id_from" hidden><br>
            <button type="submit" onclick="login()" class="btn">Submit</button>
        </div>
    </div>
</body>

<script>

    function login() {
        $.ajax({
            url: "/login/postUser",
            method: "POST",
            data: {
                nickname: document.getElementById("nickname").value,
                user_id_from: document.getElementById("user_id_from").value
            },
            success: function (response) {
                localStorage.setItem("currentUserId", response);
                location.href = '/'
            },
            error: function () {
                console.log("Error")
            }
        })
    }

</script>

</html>