<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/reg.css">
</head>

<body>
    <div class="wrapper">
        <div>
            <img src="/img/image 3.png" alt="" style="width: 340px; height:270px">
            <h1>Registration</h1>
        </div>
        <div>
            <form action="/registration/postUser" method="POST" class="form">
                <input type="text" name="username" id="inputReg" placeholder="Your nickname" required> <br>
                <input type="text" name="img_url" placeholder="Your image"><br>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>